.feed-page-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 10px 20px;
  @media (max-width: 768px) {
    width: 91vw;
    gap: 10px;
    padding: 6px 12px;
  }
  .header{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    @media (max-width: 768px) {
      font-size: 24px;
    }
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    @media (max-width: 768px) {
      gap: 6px;
    }
  }
}
